<nb-card>
  <nb-card-header>
      <h1>Agregar Edificio</h1>
  </nb-card-header>

<nb-card-body>
<form name="addBuildingForm" [formGroup]="addBuildingForm">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-6">
        <input  matInput formControlName="name" class="form-control" placeholder="Nombre del edificio">
        <div *ngIf="addBuildingForm.value.name == '' && addBuildingForm.controls.name.touched" style="color: red;">
          El nombre es obligatorio
        </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Numero:</label>
        <div class="col-sm-6">
          <input  matInput formControlName="buildingNumber" class="form-control"  placeholder="Numero del edificio">
          <div *ngIf="addBuildingForm.value.buildingNumber == '' && addBuildingForm.controls.buildingNumber.touched" style="color: red;">
            El nombre es obligatorio
          </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Pisos:</label>
        <div class="col-sm-6">
          <input type="number" matInput formControlName="floors" class="form-control"  placeholder="Numero de pisos">
          <div *ngIf="addBuildingForm.value.floors == '' && addBuildingForm.controls.floors.touched" style="color: red;">
            El nombre es obligatorio
          </div>
        </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Sotanos:</label>
      <div class="col-sm-6">
        <input  type="number" matInput formControlName="basements" class="form-control" placeholder="Numero de sotanos">
        <div *ngIf="addBuildingForm.value.basements == '' && addBuildingForm.controls.basements.touched" style="color: red;">
          El nombre es obligatorio
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button (click)="addBuilding()" [disabled]="addBuildingForm.status =='INVALID'"  class="btn btn-primary">Agregar Edificio</button>
      </div>
    </div>
  </form>
</nb-card-body>
</nb-card>
