<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" (click)="navigateHome()">Finden<img src="../../../../assets/images/FindenLogo.png" width=30% height=30%></a>
  </div>

  <div  *ngIf="getRol() == 'DTI'">
        <label>Planes: </label>
        <label>{{cant}}</label>
  </div>

  <nb-select placeholder="Usuario" class="col-sm-3">
    <nb-option  (click)="logout()"> Salir </nb-option>
    <nb-option  (click)="modificarCuenta()"> Modificar Usuario </nb-option>
  </nb-select>
</div>
