<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" (click)="navigateHome()">Finden<img src="../../../../assets/images/FindenLogo.png" width=30% height=30%></a>
  </div>

  <div  *ngIf="getRol() == 'DTI'">
        <label>Planes: </label>
        <label>{{cant}}</label>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="default">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
