<div>
    <h1>Change Password</h1>
    <form name="changePassword" [formGroup]="changePasswordForm">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input  matInput formControlName="email" class="form-control"  placeholder="#port">
            </div>
        </div>
    </form>
    <div class="form-group row">
        <button (click)="" class="btn btn-primary">Send Code</button>
    </div>
    
    <div id="codeInfo">
        <form name="code" [formGroup]="codeForm">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Code:</label>
                <div class="col-sm-10">
                    <input  matInput formControlName="code" class="form-control"  placeholder="#port">
                 </div>
            </div>
        </form>
        <div class="form-group row">
            <button (click)="" class="btn btn-primary">Validate Code</button>
        </div>
    </div>

</div>