<div>
    <h1>Cambiar Contraseña</h1>
    <form name="changePasswordForm" [formGroup]="changePasswordForm">
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input  matInput formControlName="email" class="form-control" type="email" placeholder="email">
            </div>
            <div *ngIf="addPortForm.value.email == '' && addPortForm.controls.email.touched" style="color: red;">
              El nombre es obligatorio
            </div>
        </div>
    </form>

    <div class="form-group row">
       <div class="col" style="text-align: center;">
          <button (click)="send()" class="btn btn-primary">Enviar Codigo</button>
        </div>
    </div>

    <div id="codeInfo">
        <form name="setNewPasswordForm" [formGroup]="setNewPasswordForm">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Codigo:</label>
                <div class="col-sm-10">
                    <input  matInput formControlName="code" class="form-control"  placeholder="code">
                 </div>
                 <div *ngIf="setNewPasswordForm.value.code == '' && setNewPasswordForm.controls.code.touched" style="color: red;">
                   El nombre es obligatorio
                 </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Nueva Contraseña:</label>
                <div class="col-sm-10">
                    <input  matInput formControlName="password" type="password" class="form-control"  placeholder="new password">
                 </div>
                 <div *ngIf="setNewPasswordForm.value.password == '' && setNewPasswordForm.controls.password.touched" style="color: red;">
                   El nombre es obligatorio
                 </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Confirmar Contraseña:</label>
                <div class="col-sm-10">
                    <input  matInput formControlName="confirmPassword" type="password" class="form-control"  placeholder="confirm password">
                 </div>
                 <div *ngIf="setNewPasswordForm.value.confirmPassword == '' && setNewPasswordForm.controls.confirmPassword.touched" style="color: red;">
                   El nombre es obligatorio
                 </div>
            </div>
        </form>
        <div class="form-group row">
            <div class="col" style="text-align: center;">
                <button (click)="setNewPassword()"  [disabled]="setNewPasswordForm.status =='INVALID'" class="btn btn-primary">Cambiar Contraseña</button>
            </div>
        </div>
    </div>

</div>
