<nb-card>
  <nb-card-header>
      <h1>Agregar Puerto</h1>
  </nb-card-header>

<nb-card-body>
<form name="addPortForm" [formGroup]="addPortForm">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Edificio:</label>
      <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10" (ngModelChange)="generateFloors($event)">
        <nb-option *ngFor="let v of buildings" value="{{v.number}}"> {{v.number}} - {{v.name}}</nb-option>
      </nb-select>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Piso:</label>
      <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
          <nb-option *ngFor="let v of floors" value="{{v}}"> {{v}}</nb-option>
      </nb-select>
  </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Centro de cableado:</label>
      <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
        <nb-option *ngFor="let v of wiringCenters" value="{{v}}"> {{v}}</nb-option>
      </nb-select>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Switch</label>
      <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
        <nb-option *ngFor="let v of switch" value="{{v}}"> {{v}}</nb-option>
      </nb-select>
    </div>

     <!--No seleccionable-->
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-6">
          <input type="text" matInput formControlName="portName" class="form-control"  placeholder="name">
        </div>
    </div>
   
    <!--No seleccionable-->
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label"># Puerto en el switch:</label>
      <div class="col-sm-6">
        <input  type="number" matInput formControlName="portSwitch" class="form-control" placeholder="port in switch">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Tipo:</label>
      <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
        <nb-option *ngFor="let v of portTypes" value="{{v.value}}"> {{v.name}}</nb-option>
      </nb-select>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button (click)="addPort()" class="btn btn-primary">Agregar Puerto</button>
      </div>
    </div>
  </form>
</nb-card-body>
</nb-card>
