<nb-card>
    <nb-card-header>
        <h1>State Planes</h1>
    </nb-card-header>
  
    <nb-card-body>
        
        <div class="form-group row inline-block">
            
            <div class="col-sm-4">
              <button (click)="approvedPlanes()" class="btn btn-primary">Planos Aprobados</button>
            </div>
            
            <div class="col-sm-4">
                <button (click)="rejectedPlanes()" class="btn btn-primary">Planos Rechazados</button>
            </div>
            
            <div class="col-sm-4">
                <button (click)="allPlanes()" class="btn btn-primary">Todos los planos</button>
            </div>
        </div>


        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="downloadPlane($event)">
        </ng2-smart-table>
        <br><br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button routerLink='/pages/uploadplane' class="btn btn-primary">Subir Plano</button>
            </div> 
        </div>
    </nb-card-body>
  </nb-card>
  