<nb-card>

    <nb-card-header>
        <h1>Subir Planos</h1>
    </nb-card-header>

    <nb-card-body>

        <form class="space" name="uploadPlaneForm" [formGroup]="uploadPlaneForm">
        <div class="box">
                <div class="search-input-wrapper mx-12 m-md-0"
                fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                Archivo a cargar:
                <!--<mat-icon class="secondary-text">search</mat-icon>-->
                </label>
                <div floatPlaceholder="never" fxFlex="1 0 auto">
                    <input  class="btn btn-primary" type="file" (change)="onFileChange($event)" #fileInput
                    accept="application/dxf"  matInput formControlName="fileUpload">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Descripcion:</label>
                <textarea class="col-sm-6" matInput formControlName="description" _ngcontent-cca-c25="" fullwidth="" nbinput="" placeholder="Text Area" rows="5" shape="round" ng-reflect-shape="round" ng-reflect-full-width="" class="input-full-width size-medium shape-round"></textarea>
            </div>

            <div id="showPlane">
            </div>
            <br>
            <button type="button" class="btn btn-primary" (click)="submitPlane()">Subir Plano</button>
        </div>

       <!-- <nb-alert outline="success" _nghost-hbi-c13="" formControlName="val" ng-reflect-outline="success" class="outline-success"><!--bindings={
            "ng-reflect-ng-if": "false"
          }{{val}}</nb-alert> -->

    </form>
    </nb-card-body>

</nb-card>
