<nb-card>
    <nb-card-header>
        Menu
    </nb-card-header>

    <nb-card-body>
        <div class="row space" >
            <div class="col">
                <img [routerLink] = "['/pages/manageaccount']" class="icosns" src="../assets/icons/user.png" width="150" height="150" alt="imagenUsuario">
                <p>Administrar Usuarios</p>
            </div>

            <div class="col">
                <img [routerLink] = "['/pages/addbuilding']" src="../assets/icons/house.png" width="150" height="150" alt="imagenEdificio">
                <p>Agregar edificio</p>
            </div>

            <div class="col">
                <img [routerLink] = "['/pages/addwiringcenter']" src="../assets/icons/computer(1).png" width="150" height="150" alt="imagenComputador">
                <p>Agregar Centro de cableado</p>
            </div>

            <div class="col">
                <img [routerLink] = "['/pages/addport']" src="../assets/icons/algorithm.png" width="150" height="150" alt="imagenPuertos">
                <p>Administrar puertos</p>
            </div>

            <div class="col">
                <img [routerLink] = "['/pages/planehistory']" src="../assets/icons/sketch.png" width="150" height="150" alt="imagenPlanos">
                <p>Administrar planos</p>
            </div>
        </div>
    </nb-card-body>

</nb-card>


<footer class="footer" style="text-align-last: right;">
  <div id="ref">
          Icons made by <a href="https://www.flaticon.com/authors/smashicons" 
          title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"
          title="Flaticon">www.flaticon.com</a></div>
</footer>
