<nb-card>
        <nb-card-header>
            Menu
        </nb-card-header>
    
        <nb-card-body>
            <div class="row space" >
                    <div class="col">
                            <img [routerLink] = "['/pages/findport']" src="../assets/icons/algorithm.png" width="150" height="150" alt="imagenPuertos">
                            <p>Administrar puertos</p>
                    </div>
            </div>
        </nb-card-body>
    
    </nb-card>
    
    
    <footer class="footer" style="text-align-last: right;">
      <div id="ref" class="space">
              Icons made by <a href="https://www.flaticon.com/authors/smashicons" 
              title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/"
              title="Flaticon">www.flaticon.com</a></div>
    </footer>
        