<nb-card>
    <nb-card-header>
        <h1>Plane History</h1>
    </nb-card-header>
  
    <nb-card-body>

        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Edificio:</label>
            <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10" (ngModelChange)="generateFloors($event)">
                 <nb-option *ngFor="let v of buildings" value="{{v.num}}"> {{v.num}} - {{v.name}}</nb-option>
            </nb-select>
            <div class="col-sm-10">
                <button (click)="selectBuilding()" class="btn btn-primary">Seleccionar Edificio</button>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Floor</label>
            <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
                <nb-option *ngFor="let v of floors" value="{{v}}"> {{v}}</nb-option>
            </nb-select>
        </div>
    <!--
      <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Plane name:</label>
            <nb-select formControlName="type" placeholder="Seleccione" class="col-sm-10">
                  <nb-option *ngFor="let v of availablePlanes" value="{{v.value}}">{{v.label}}</nb-option>
            </nb-select>
            <div class="col-sm-10">
                  <button (click)="searchPlane()" class="btn btn-primary">Search Plane</button>
            </div>
        </div>
      -->

        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>

        
  
    </nb-card-body>
  </nb-card>
  



 